<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ti Hall - IT122 App</title>
</head>
<body>

    <h1>The {{doctorDetail.version}} Doctor</h1>
    <h2>Played by: {{doctorDetail.actor}}</h2>
    <ul>
        <li>Companion(s): {{doctorDetail.companions}}</li>
        <li>Catch Phrase: "{{doctorDetail.catch_phrase}}"</li>

    </ul>
<h3><a href= '/'>Home</a></h3>


</body>
</html>