<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ti Hall - IT122 App</title>
</head>
<body>
    <h1>Doctor Who</h1>
    {{#each doctor}}
    <ul>
        <li><a href='/details?doc={{version}}'>The {{version}} Doctor</a></li>
    </ul>
    
    {{/each}}

</body>
</html>